<h1>Speer Back End Assessment</h1>

<h3>Registration</h3>
<form action="/users" method="POST" style="width: 400px">
  <div class="form-group">
    <label>Username</label>
    <input type="username" name="username" placeholder="Enter Username" class="form-control">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

<h3>Login</h3>
<form action="/users/login" method="POST" style="width: 400px">
  <div class="form-group">
    <label>Username</label>
    <input type="username" name="username" placeholder="Enter Username" class="form-control">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>